<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<meta charset="utf-8">

<head>
    <title>Корзина товаров</title>
    <style>
        .menu { width:100%; }
        .menu > * { float: right; margin-left: 12px; }
        .btn-link {
            background: none; border: none; padding: 0; margin: 0;
            font: inherit; color: inherit; cursor: pointer; text-decoration: underline;
        }
        .clearfix::after { content: ""; display: table; clear: both; }
    </style>
</head>

<body>


<nav class="menu clearfix">

    <form sec:authorize="isAuthenticated()"
          th:action="@{/logout}" method="post" style="display:inline;">
        <button class="btn-link"><b>ВЫЙТИ &cudarrr;</b></button>
    </form>

    <a sec:authorize="isAnonymous()" th:href="@{/login}">
        <b>ВОЙТИ &cudarrr;</b>
    </a>

    <a sec:authorize="isAuthenticated()" href="/orders"><b>ЗАКАЗЫ &cudarrr;</b></a>

    <a href="/main/items"><b>ГЛАВНАЯ &cudarrr;</b></a>
</nav>

<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="item : ${items}">
        <td>
            <table>
                <tr>
                    <td>
                        <img width="300" height="300" th:src="${'http://localhost:8080/'+item.getImgPath()}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getTitle()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getPrice()}+' руб.'"></b>
                    </td>
                </tr>
                <tr><td th:text="${item.getDescription()}"></td></tr>
                <tr>
                    <td>
                        <form
                                th:action="@{/cart/items/{id}(id=${item.id})}"
                                method="post">

                            <button
                                    type="submit"
                                    th:formaction="@{/cart/items/{id}(id=${item.id},action='minus')}">
                                −
                            </button>

                            <span th:text="${item.count}">0</span>

                            <button
                                    type="submit"
                                    th:formaction="@{/cart/items/{id}(id=${item.id},action='plus')}">
                                +
                            </button>
                            <button
                                    type="submit"
                                    th:formaction="@{/cart/items/{id}(id=${item.id},action='delete')}"
                                    style="float:right;">
                                &times;
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}+' руб.'"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/buy" method="post" th:if="${!empty}">
                <button th:disabled="${disableBuy}">Купить</button>
            </form>
            <p th:if="${disableBuy}" style="color:red;">
                Недостаточно средств: баланс [[${balance}]] руб., сумма корзины [[${total}]] руб.
            </p>
        </td>
    </tr>
</table>
</body>

</html>
